<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a New Ingredient</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="new-container">
      <div class="new-form-container">
        <h1>Add a New Ingredient!</h1>
        <form action="/ingredients" method="POST">
          <label for="name">Ingredient Name:</label>
          <input type="text" name="name" id="name" />
          <button type="submit">Add Ingredient</button>
        </form>
      </div>
    </div>
  </body>
</html>